<h1>Listing customers</h1>
<% if (current_user)%>
<% if current_user.admin? %>
<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Verified</th>
    <th>Hashcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.firstname %></td>
    <td><%= customer.lastname %></td>
    <td><%= customer.verified %></td>
    <td><%= customer.hashcode %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


    <h2>Import Products</h2>

    <%= form_tag import_customers_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
      <%end%>
<br />
<%end%>
<%end%>

<%= link_to 'New Customer', new_customer_path %>
