<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @customer.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @customer.lastname %>
</p>

<p>
  <b>Verified:</b>
  <%= @customer.verified %>
</p>

<p>
  <b>Hashcode:</b>
  <%= @customer.hashcode %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
