<h1>Listing discounts</h1>

<center>
  <table>
  <tr>
    <th>Name</th>
    <th>Featured</th>
    <th>Logo </th>
    <th>Description</th>
    <th>Location</th>
    <th>Phone Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discounts.each do |discount| %>
  <tr>
    <td><%= discount.name %></td>
    <td><% if discount.featured %>
      <%='Yes'%>
      <%else%>
      <%='No'%>
      <%end%>
    </td>
    
    <td><%=image_tag discount.picture.url(:thumb) %></td>
    <td><%= discount.description %></td>
    <td><%= discount.location %></td>
    <td><%= discount.phone %></td>
    <td><%= link_to 'Show', discount, {:class=>("btn btn-large btn-block btn-primary"), :style=>("width:100px;")} %></td>
    <td><%= link_to 'Edit', edit_discount_path(discount), { :class=>("btn btn-large btn-block btn-warning"), :style=>("width:100px;") } %></td>
    <td class = "btn btn-large btn-block btn-danger"><%= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' }%></td>
  </tr>
<% end %>
</table>
</center>
<br />

<center><%= link_to 'New Discount', new_discount_path, {:class=>("btn btn-large btn-block btn-info"), :style=>("width:300px;")} %>
</center>
