<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @discount.name %>
</p>

<p>
  <b>Logo:</b>
  <%= @discount.picture.url(:thumb) %>
</p>

<p>
  <b>Description:</b>
  <%= @discount.description %>
</p>

<p>
  <b>Location:</b>
  <%= @discount.location %>
</p>

<p>
  <b>Logos:</b>
<%= image_tag @discount.picture.url(:medium) %>
<%= image_tag @discount.picture.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
